
.idea/
*.iml
.gradle/
local.properties


/build/
captures/
outputs/
.externalNativeBuild/
.cxx/


.DS_Store
Thumbs.db


*.log
*.tmp
*.temp


*.apk
*.ap_
*.aab


.navigation/


*.jks
*.keystore


gen/
bin/

com_crashlytics_export_strings.xml


obj/
